<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        {% if user.is_authenticated %} <!--if the user object is authenticated (or logged in)-->
        <h3> Welcome {{ user.username }}!</h3> <!--Displays the username attribute of the user object-->
        <form action="{% url 'logoutuser' %}" method="POST"> <!--This will make a POST to the logoutuser view in urls.py-->
            {% csrf_token %}
            <button type='submit'>Logout</button>
        </form>
        <br>
        {% else %}
        <form action="{% url 'signupuser' %}">
            <button type='submit'>Sign Up</button>
        </form>
        <form action="{% url 'loginuser' %}">
            <button type='submit'>Log in</button>
        </form>
        <br>
        {% endif %}

        {% block content %}{% endblock %}
    </body>
</html>