{% extends 'todo/base.html'%}
{% block content %}
<h1>Completed To-dos!</h1>
<ul>
    {% for todo in todos %}
    <li>
        <a href="{% url 'view_todo' todo.id %}"> <!--if the todo is clicked it will open the view/edit page for itself, todo.id is passed an argument to the url view_todo-->
        {% if todo.important %} <!--If the todo is marked as important then make it bold-->
        <strong>{{ todo.title }}</strong>
        {% else %} <!--Else don't make it bold-->
        {{ todo.title }}
        {% endif %}
        {% if todo.memo %} <!--If there is some additional information then display it-->
        - {{ todo.memo }}
        {% endif %}
        ---- <i>completed on {{ todo.completed|date:'l, jS F, Y; fA' }}</i>
        </a>
    </li>
    {% endfor %}
</ul>
<form action="{% url 'create_todo' %}">
    <button type="submit">Create To-Do!</button> <!--Go to the create todos page-->
</form>
<form action="{% url 'current_todos' %}">
    <button type="submit">Your To-Dos!</button> <!--Go to the current todos page-->
</form>
{% endblock %}